table, th, td {border: 1px solid black;}
p {color: red;}

.navi {
position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navi2 {
  float: left;
}

.navi2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navi:hover {
  background-color: #111;
}
.navi:active {
  background-color: #4CAF50;
}